<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--开启驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"></setting>
        <!--使用CGLIB代理-->
        <setting name="proxyFactory" value="CGLIB"></setting>
        <setting name="lazyLoadingEnabled" value="true"></setting>
        <!--setting name="aggressiveLazyLoading" value="false"></setting-->
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="properties" value="mysql"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>

</configuration>