<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leilin.vip.dao.VipDAO">
    <insert id="insert" >
        insert into vip_detail(id, code, name, age, sex,qq,email,address,zip,remark,rank,amount)
        values (#{id}, #{code}, #{name}, #{age}, #{sex}, #{qq}, #{email}, #{address}, #{zip}, #{remark}, #{rank}, #{amount})
    </insert>
    
    <select id="exist" resultType="java.lang.Boolean">
        select count(1) > 0 from vip_detail where ${key}=#{value}
    </select>

    <update id="update">
        update vip_detail set
        code=#{code},
        name=#{name},
        age=#{age},
        sex=#{sex},
        qq=#{qq},
        email=#{email},
        address=#{address},
        zip=#{zip},
        remark=#{remark},
        rank=#{rank},
        amount=#{amount}
        where id=#{id}
    </update>

    <select id="select" resultMap="VipMap">
        select * from vip_detail where ${key}=#{value}
    </select>

    <select id="selectLike" resultMap="VipMap">
        select * from vip_detail
        <if test="key!=null">
            where code like #{key}
            or name like #{key}
            or qq like #{key}
            or email like #{key}
            or address like #{key}
            or remark like #{key}
        </if>
        order by code
    </select>

    <resultMap id="VipMap" type="com.leilin.vip.entity.VipEntity">

    </resultMap>
</mapper>